<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
         {{>header}}
         <p>
             This site was created by Joshua Aryee. It uses data from the weather stack API and mapbox.com
             The address of the location is entered and the forecast for that particular area is displayed
             for the viewers to see.
         </p>
         <img class="about-image" src="/images/eagle.jpg" alt="An image of an eagle">
    </div>
   
    {{>footer}}
</body>
</html>